<!-- heredando de base.html -->
{% extends 'base.html' %}



{% block content %}

<main class="container py-5">
    <section class = "card card-body">
        
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptatum labore, sint quos mollitia tenetur voluptatibus nobis eum adipisci. Nostrum cumque culpa ipsa natus doloribus quia corrupti at quod consectetur!</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum est blanditiis asperiores assumenda odio maxime, soluta possimus, laboriosam cupiditate reiciendis aut, debitis facere? Ex facere quibusdam sint placeat, neque magni in qui ipsa ducimus vero officiis necessitatibus eum hic voluptatum rerum! Corporis ratione dolorem unde, voluptas aspernatur consequuntur veniam nam.</p>

            <div class="text-center">
                <a class="btn btn-primary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-dark" href="/signup/">
                    Signout
                </a>
            </div>
    </section>
</main>

{% endblock %}

